main {
    width: 800px;
    height: 600px;
    background-color: aqua;
    margin: auto;
}

header {
    width: 800px;
    height: 50px;
    background-color: greenyellow;
}

section {
    width: 400px;
    height: 250px;
    background-color:indianred;
    
    
}
article{
    width: 400px;
    height: 250px;
    background-color:burlywood;
    float: left;

}
aside{
    width: 400px;
    height: 500px;
    background-color: yellow;
    float: right;
    position: relative;
    top: -250px;
    
}
footer{
    width: 800px;
    height: 50px;
    background-color: darkorchid;
}